body {
    font-family: Arial, sans-serif;
    background-color: #E6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

h1 {
    color: #007B63;
    font-size: 36px;
    margin-bottom: 40px;
}

h2 {
    color: #007B63;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #007B63;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-section {
    margin-bottom: 40px;
}

.login-button, .search-button, .info-button, .recovery-button, .copy-button, .minecraft-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.login-button, .search-button, .info-button, .recovery-button {
    background-color: #007B63;
}

.copy-button {
    background-color: #90D7D3;
}

.minecraft-button {
    background-color: #007B63;
}

.info-section p {
    color: #007B63;
    margin: 10px 0;
}
